.user-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
  }
  .custom-select {
    padding: 8px 30px 8px 10px;
    font-size: 16px;
    border: 1px solid #ced4da; 
    border-radius: 4px; 
    background-color: #fff; 
    cursor: pointer; 
  }
  
  .custom-select:focus {
    border-color: #80bdff;
    outline: 0; 
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      
    }
  }